@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

.Articles-text {
  @apply text-lg text-gray-700 leading-relaxed px-2;
}

.Plan-text {
  @apply text-lg text-gray-700;
}

.Articles-Image {
  @apply w-full h-auto rounded-lg;
}

.Season-Text {
  @apply text-lg text-gray-700 leading-relaxed indent-10 px-2;
}

.text-gradient {
  background: linear-gradient(96deg, #285091 11.46%, #4e8bf1 91.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background-color: #285091;
}

.nav-Active {
  padding-bottom: 5px;
  border-bottom: 4px solid rgb(255, 102, 0);
  transition: 0.2s all ease-in-out;
}
